table {
	border: 0px;
	margin: 0 auto; 

}
table.liste{
	text-align: center;
	
}
th {
	background-color: #0090D8;
	color: white;
}

tr.impair{
	background-color: #55FFFF;
	color: #2A2A2AFF;
}

tr.pair{
	background-color: #AAFFFF;
	color: #2F2F2FFF;
}


td.impair{
	background-color: #55FFFF;
	color: #2A2A2AFF;
	max-width: 290px;
}

td.pair{
	background-color: #AAFFFF;
	color: #2F2F2FFF;
	max-width: 290px;
}

input.fill{
	width: 100%;
}